@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030712;
  color: #ecfdf5;
  font-family: 'Courier New', monospace;
  overflow: hidden; /* Prevent scrollbars */
}